*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	overflow-x: hidden;

}

img {
	image-rendering: auto;
}

h3 {
	margin-top: 2em;
	margin-bottom: 0.5em;
}

p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}


table{
	border: 0;
	border-top: 0.1em;
	border-color: black;
	border-style: solid;
	
	width: 100%;
}

tr{
	border-style: solid;
	border-color: black;
	border-bottom: 1em;
}
td{
	padding: 1em;
	
	padding-bottom: 3em;
	padding-top: 3em;
}

.tableRank{
	font-size: 1.6em;
}

.tableDescription{
	width: 60%;
}



#top {
	position: absolute;
	color: none;
}

#content {
	height: 100%;
	width: 100%;
}

img{
	max-height: 10em;
	margin-left: auto;
	margin-right: auto;
	
}

article {
	padding: 4em;
	border: 0;
	border-bottom: 0.10em;
	border-style: solid;
    border-top-color: black;
	margin-left: auto;
	margin-right: auto;
	
	padding-top: 2em;
	
	width: 85%;
	padding-bottom: 3em;
}

body {
	background: url(../pics/backgrounds/BG_2K_Wide.png);
	background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
	
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
	text-align:justify;
	transition: background-color 0.75s ease;
}
.background-image{
	background-image: url(../pics/hex.png);
	background-size: 10%;
	
	height:100%;
	width: 100%;
	
	position:fixed;
	
	z-index: -10;
}
#mainWindow {
	
	margin-left: auto;
	margin-right: auto;
	height: inherit;
	width: 60%;
	z-index: 1;
	transition: background-color 0.75s ease;
	box-shadow: 0 0 1em black;	

	background-color: #e5e5e5;
	
}
#headerBar {
	width: 100%;
	background-color: #3f3f3f;
	height: 15em;
	
	z-index: 2;
	transition: background-color 0.75s ease;
	box-shadow: 0 0 0.5em black;	
	
	background: url(../pics/pattern.png);
	background-color: black;
	
	opacity: 1;
}

#header {
	height: 30%;
	border: 0;
	margin-bottom: 0;
}

#name {
	
	width: 95%;
	
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	font-size: 3em;
}

#software {
	text-align: center;
	font-size: 1.3em;
}

/* NAVIGATION BAR */
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
	
	border:0;
	
	border: 0.05em;
	border-style: solid;
    border-top-color: black;

	width:100%;
}

li {
	list-style-type: square;
	border:0;
	width:100%;
	border-right: 0.01em;
	border-left: 0.01em;
	border-style: solid;
    border-top-color: black;
	
	background-color: #43b581;
	
	
	
}

#side-image{
	width:100%;
	margin-left: 0;
	background-color: white;
}

.thumbnail{
	image-rendering: pixelated;
}

.contentList {
	
}

ul li a{
	text-align: center;	
}

a:visited { 
	color:black; 
}

a {
	text-decoration:none;
    display: block;
	color: black;
}

.liButtons {
	float: left;
	cursor: pointer;
	font-size: 1.3em;

	padding:0.20em;

    width: 20%;

	text-align: center;
	list-style-type: none;
	
	font-family: Impact, fantasy;
	
	text-decoration: none;
	text-transform: uppercase;
	
	color: black;
	float: left;
	padding: 15px;
}

.liButtons:hover{
	border:0;
	border-top: 0.10em;

	font-weight: bold;
	
	background-color: #3da073;
}

.XeXit {
	display: none;
}

/* FOOTER */
footer {
	height: 3em;
	bottom: 0;
	
	z-index:2;
	
	padding: 1em;
	text-align: right;
}


.socialSection {
  padding: 0.2em;
  background-color: gray;
}


.contentPHP {
    max-width: 65em;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

 .list-inline li {
 	display: inline-block;
 	padding-right: 5px;
 	padding-left: 5px;
 }

 .social-icons .fa {
 	font-size: 1.1em;
 }
 
 .icons {
	 list-style: none;
	 left: 0;
	 display: inline;
 }

 .social-icons .fa {
 	width: 40px;
 	height: 40px;
     margin-right: 1em;
 	line-height: 40px;
 	text-align: center;
 	color: #FFF;
 	color: rgba(255, 255, 255, 0.8);
 	-webkit-transition: all 0.3s ease-in-out;
 	-moz-transition: all 0.3s ease-in-out;
 	-ms-transition: all 0.3s ease-in-out;
 	-o-transition: all 0.3s ease-in-out;
 	transition: all 0.3s ease-in-out;
 }

 .social-icons.icon-circle .fa{
 	border-radius: 50%;
 }

 .social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active {
  	-webkit-transform: scale(1.1);
 	-moz-transform: scale(1.1);
 	-ms-transform: scale(1.1);
 	-o-transform: scale(1.1);
 	transform: scale(1.1);
 	border-radius: 0;
 }

 .social-icons .fa-flickr{background-color:#FF0084;}
 .social-icons .fa-github,.social-icons .fa-github-alt,.social-icons .fa-github-square{background-color:#070709;}
 .social-icons .fa-google-plus,.social-icons .fa-google-plus-square{background-color:#CF3D2E;}
 .social-icons .fa-linkedin,.social-icons .fa-linkedin-square{background-color:#0085AE;}
 
 
/* SCROLL BAR */
::-webkit-scrollbar {
width: 0px;
height: 12px;
}


.BeforeScroll
{
  height: 100%;
  width: 100%;

  display: none;
  
  cursor: pointer;
}

.AfterScroll
{
	height: 1em;
	width: 1em;
	bottom: 5%;
	right: 5%;
	font-size: 6em;
	display: block;
	position:fixed;
	color: black;
}






/* GALLERY */


.mySlides {
	 display:none;
	 margin-left: auto;
	 margin-right: auto;
	 width: 80%;
}
.previews {
	cursor:pointer;
	padding: 0.5em;
}

#flickrMore {
	width: 10%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
}




/* MOBILE RESPONSIVENESS */
@media only screen and (max-width: 1500px) {
	article{
		padding: 1em;
	}
	
}
@media only screen and (max-width: 1000px) {
	#name{
		font-size: 2.8em;
	}
	#software{
		font-size: 0.8em;
	}
	a {
		font-size: 0.7em;
	}
	article{
		padding: 1em;
	}
	
}
@media only screen and (max-width: 675px) {
    #mainWindow {
		width: 90%;
		bottom: 0;
		overflow: auto;
	}

	.XeXit {
		display: block;
	}
	
	a.NavButtonCol:visited { 
		color:white; 
	}
	
	.BeforeScroll{
		font-size: 4em;
		bottom: 10%;
		opacity: 0.6;
		color:black;
	}
	
	a {
		color: white;
	}
	
	#imgProfilePic {
		width: 50%;
		margin-top: 2em;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		left: 25%;
		text-align: center;
	}
	#name {
		left: 0;
		width: 100%;
		position: relative;
		margin-left: auto;
		margin-right:auto;
		font-size: 2.3em;
		margin-top: 1.5em;
	}
	#software {
		margin-top: 0;
		margin-left: 0;
		position: relative;
		left: 0;
		width: 100%;
		
	}
	
	ul {
		top: 0;
		left:0;
		width: 100%;
		position: fixed;
		z-index: 10;
		display: none;
	}
	
	

	.container {
		display: inline-block;
		cursor: pointer;
		right:0;
		top: 0;
		width: 100%;
		background-color: #333;
		position: fixed;
		z-index: 100;
		
	}

	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: white;
		margin: 6px 0;
		transition: 0.4s;
		margin-left: auto;
		margin-right: auto;
	}

	/* Rotate first bar */
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
		transform: rotate(-45deg) translate(-9px, 6px) ;
	}

	/* Fade out the second bar */
	.change .bar2 {
		opacity: 0;
	}

	/* Rotate last bar */
	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px) ;
		transform: rotate(45deg) translate(-8px, -8px) ;
	}
	
	
	.mainNav{
		width: 100%;
		display: block;
		top:0;
		position: absolute;
		z-index: 20;
		background-color: #1C1C1C;
	 }

	
	.mainNavDropDown{
		padding-left: 0;
		margin: 0;
		list-style: none;
		text-align: center;
		display: none;
		background-color: #1C1C1C;
		padding-top: 2em;
	 }
	.mainNavDropDown li{
		font-size: 20px;
		padding: 25px;
		width: 100%;
		color: white;
		border-bottom: 1px solid black;
	 }

	.mainNavDropDown li:hover{
		background: #262626;
	 }
    
    .profilePictureBox {
        width: 50px;
        height: 50px;
    }
	
	
	
	
	

	
	
}


.gradiant_bg {
    background: linear-gradient(-90deg, #e5e5e5, white, #e5e5e5);
    height: 170px;
}

.pictureRank {
    text-align: center;
    padding-top: 10px;
}

.profilePictureBox {
    box-shadow: 0px 0px 20px #888888;
}

.profilePictureBox:hover {
    box-shadow: 0px 0px 30px #888888;
    
}

